export(affy.pivot.table)
export(batchRMA)
export(boxplot_affy_probetypes)
export(calls2colour)
export(celDate)
export(dabg2calls)
export(find.nuse.cutoff)
export(fitPLM.STarrays)
export(hist_DABG)
export(hist_Pcount_cumulative)
export(hist_affycalls)
export(hist_array_ranks)
export(import.APT)
export(import.dabg)
export(import.mps)
export(import.netaffx.csv)
export(make.GSEA.chip.affyST)
export(mps2env)
export(mps2list)
export(mps2map)
export(parse.affy.ST.array.annotation)
export(parse.affy.apt.gene_assignment)
export(parse.affy.apt.mrna)
export(parse.affy.gff)
export(plot_rma_vs_calls)
export(readCEL)
export(run.dabg)
export(test_parse.affy.ST.array.annotation)
exportMethods(cdfName)
import(methods)
importClassesFrom(affy,AffyBatch)
importFrom(Biobase,exprs)
importFrom(Biobase,featureNames)
importFrom(affy,cleancdfname)
importFrom(affy,just.rma)
importFrom(affy,justRMA)
importFrom(affy,mas5calls)
importFrom(affy,read.affybatch)
importFrom(affyPLM,NUSE)
importFrom(affyPLM,fitPLM)
importFrom(affyio,read.celfile.header)
importFrom(genomics,make.ucsc.string)
importFrom(oligo,read.celfiles)
importFrom(oligo,rma)
importMethodsFrom(affy,cdfName)
